.gpt3__blog-container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $clr-footer;

  &-img {
    width: 100%;
    height: 100%;
    background: $clr-footer;

    & > img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;

    & > div > p {
      font-weight: bold;
      font-size: 11.649px;
      line-height: 35px;
      color: #ffffff;
    }
    & > div > h3 {
      font-weight: 800;
      font-size: 25.11px;
      line-height: 30px;
      color: #ffffff;
      margin-bottom: 5rem;
      cursor: pointer;

      @media screen and (max-width: 550px) {
        font-style: 18px;
        line-height: 25px;
      }
    }
    & > p:last-child {
      cursor: pointer;
      color: #ffffff;
    }
  }
}
