$clr-bg: #040C18;
$clr-footer: #031B34;
$clr-blog: #042c54;

$clr-text: #81AFDD;
$clr-subtext: #FF8A71;
$font-family: 'Manrope', sans-serif;

$gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
$gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

@media screen and (max-width: 768px){
    .section__padding {
        padding: 4rem;
    }
    .section__margin {
        margin: 4rem;
    }
}
@media screen and (max-width: 550px){
    .section__padding {
        padding: 4rem 2rem;
    }
    .section__margin {
        margin: 4rem 2rem;
    }
}